.img-circle{
  border-radius: 50%;
  margin-right: 12px;
}
.value-container{
  position: relative;
}
.invalid-feedback{
  position: absolute;
  top: 34px;
  width: auto;
  margin-top: 0;
}
.media-heading{
  text-transform: capitalize;
}
.user-name{
  margin-top: 40px;
  text-align: center;
  color: rgba(0,0,0,0.8);
}
@media only screen and (max-width: 767px){
  .mob-add{
      margin-top: 30px;
  }
}