<div class="container-fluid">
    <section>
        <h2 class="mb-4">Add New Friend</h2>
        <form class="form-inline" [formGroup]="addUserForm">
            <div class="form-group mr-2 mb-2">
                <label for="name" class="mr-2">Name</label>
                <div id="name" class="value-container">
                    <input type="text" placeholder="Ex: John" formControlName="name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && formFields.name.errors }" />
                    <div *ngIf="submitted && formFields.name.errors" class="invalid-feedback">
                        <div *ngIf="formFields.name.errors.required">Person Name is required</div>
                    </div>
                </div>

                <!-- <input type="text" class="form-control" id="name" placeholder="Ex: John"> -->
            </div>
            <button type="button" (click)="addUser(addUserForm.value)" class="btn btn-primary mb-2 mob-add">Add</button>

        </form>
    </section>
    <div class="row mt-4">
        <section class="col-xl-3 col-lg-3 col-md-3 col-sm-4 mb-2 user-part" *ngFor="let user of friendList$ | async">
            <div class="media">
                <div class="media-left">
                    <a>
                        <img class="media-object" width="50"
                            src="https://dx0qysuen8cbs.cloudfront.net/assets/fat_rabbit/person-2d59b69b3e7431884ebec1a55de75a4153a17c4050e6b50051ca90412e72cf96.png"
                            alt="Name">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading user-name">{{user.User.UserName}}</h4>
                </div>
            </div>
        </section>
    </div>

</div>